<div ng-controller="MailSettings.Controller as vm">

    <umb-loader ng-if="vm.loading"></umb-loader>
    <div class="flex justify-between" ng-if="!vm.loading">
        <div class="flx-b5 mr2 form-horizontal">
            <umb-box>

                <umb-box-content>

                    <p ng-if="vm.message && vm.message.length > 0">{{vm.message}}</p>
                    <div ng-if="vm.currentSettings != false">

                        <form novalidate val-form-manager>

                            <div class="form-group" ng-repeat="property in  vm.smtpProperties">
                                <umb-property property="property">
                                    <umb-property-editor model="property"></umb-property-editor>
                                </umb-property>
                            </div>

                            <div class="mt4">
                                <umb-property property="vm.testField">
                                    <umb-property-editor model="vm.testField"></umb-property-editor>
                                </umb-property>
                            </div>
                            
                            


                            <div class="tr mt3" ng-if="vm.currentSettings.canChangeSettings">
                                <umb-button ng-if="vm.currentSettings.hasEnvironment" action="vm.saveSettings()"
                                            label="Save to default settings"
                                            type="button"
                                            state="vm.savingState"
                                            button-style="info">
                                </umb-button>

                                <umb-button ng-if="vm.currentSettings.hasEnvironment" action="vm.saveSettings(true)"
                                            label="Save to environment settings"
                                            type="button"
                                            state="vm.savingState"
                                            button-style="success">
                                </umb-button>

                                <umb-button ng-if="!vm.currentSettings.hasEnvironment" action="vm.saveSettings()"
                                            label="Save"
                                            type="button"
                                            state="vm.savingState"
                                            button-style="success">
                                </umb-button>
                            </div>
                        </form>

                    </div>

                </umb-box-content>


            </umb-box>
        </div>

        <div class="flx-b5">
            <umb-box>

                <umb-box-content>
                    <form novalidate val-form-manager>
                        <div class="form-group" ng-repeat="property in  vm.testProperties">
                            <umb-property property="property">
                                <umb-property-editor model="property"></umb-property-editor>
                            </umb-property>
                        </div>

                        <div class="tr">
                            <umb-button action="vm.sendTest()"
                                        label="Send"
                                        type="button"
                                        state="vm.testState"
                                        button-style="success">
                            </umb-button>
                        </div>
                    </form>
                </umb-box-content>


            </umb-box>
        </div>


    </div>

</div>